.person-card > .card-image{
    max-width: 100%;
    height:300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(240, 238, 238);
}

.person-card > .card-image > img{ 
 object-fit: fill;
}

.unlinked-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.unlinked-data > .text{
    font-size: 16px;
    color: #908d8d;
}
